.mainContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-image: url('../Images/AgenciaHispana-MainPhoto.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__topBar {
        background-color: var(--secondary-color);
        height: 4rem;
        width: 100%;
        border-bottom-left-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
        box-shadow: 0px 1rem red;
    }

    &__topBarSecondary {
        background-color: var(--fourth-color);
        height: 4rem;
        width: 100%;
        border-bottom-left-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
    }

    &__titleHeading {
        line-height: 0.95;
        text-align: center;

    }

    &__title {
        &--first {
            -webkit-text-stroke: 1.5px rgb(0, 0, 0);
        }

        font-size: 7vw;
        font-family: system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;

        &--text {
            -webkit-text-stroke: 1.5px rgb(0, 0, 0);
            /*             color: var(--third-color); */
            font-family: 'Playfair Display', serif;
        }
    }

    &__paragraph {
        font-size: 3.8vw;
        text-align: center;

        -webkit-text-stroke: 1.5px rgb(0, 0, 0);
    }

    &__image {
        width: 50%;
        height: 50vh;
    }

    &__secondary {
        &--svg {
            color: blue;
        }
    }

    &__button {
        box-shadow: 0px 0.2rem var(--fourth-color);
    }

    &__textBox {
        &--paragraphTitle {
            font-size: 3vw;
            text-align: center;
            line-height: 1.1;
        }

        &--paragraph {
            font-size: 1.3vw;

        }
    }
}

.servicios {
    height: 60vh;
}

.manutencion-1 {
    fill: none;
    stroke: black;
    stroke-miterlimit: 10;
    stroke-width: 20px;

}

.manutencion-2 {
    fill: black;
}

.divorcios-1 {
    fill: black;
}

.personas-1 {
    fill: black;
}

/* .expoSection{
    position:relative;
    &__bar{
        position:sticky;
        top:723px;
        z-index: 3;
    }
} */
.expo {
    display: flex;
    position: relative;

    &__texto {
        font-size: 3vw;
        -webkit-text-stroke: 1.1px rgb(0, 0, 0);
    }

    &__backgroundImage {
        opacity: 70%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }
}

.seeMoreButton {
    height: 25rem;
    border-radius: 3rem;
}

.seeMoreText {
    font-size: 1.5rem;
    text-decoration: underline;
}

.galindoBio {
    &__container {
        &--texto {}

        &--photo {
            border-radius: 50%;
            overflow: hidden;
        }
    }
}

.galindoAvatarContainer {
    display: flex;
    justify-items: center;
    align-items: center;
    position: unset;
    height: 100vh;
    max-width: 100%;
}

.galindoAvatar {
    max-width: 40%;
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
}